# Using DBSCAN as clustering method

In [1]:
import numpy as np 
import pandas as pd
from sklearn.cluster import DBSCAN
from sklearn import metrics
from sklearn.datasets.samples_generator import make_blobs
from sklearn.preprocessing import StandardScaler

## Test

In [28]:
session_dict = {'HZKS0-WG8pZr0eCsZlBAP5Xm': ['login',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'View_Items',
   'home',
   'logout'],'5tPgZbHdK2Zp+heFBs8HsMkx': ['login',
   'View_Items_quantity',
   'Add_to_Cart',
   'View_Items_quantity',
   'Add_to_Cart',
   'View_Items_quantity',
   'Add_to_Cart',
   'View_Items_quantity',
   'Add_to_Cart',
   'View_Items_quantity',
   'Add_to_Cart',
   'shoppingcart',
   'remove',
   'shoppingcart',
   'remove',
   'shoppingcart',
   'remove',
   'shoppingcart',
   'remove',
   'deferorder',
   'home',
   'logout']}
df_t = pd.DataFrame.from_dict(session_dict, orient="Index")
df_t

,0,1,2,3,4,5,6,7,8,9,...,12,13,14,15,16,17,18,19,20,21
HZKS0-WG8pZr0eCsZlBAP5Xm,login,View_Items,View_Items,View_Items,View_Items,View_Items,View_Items,View_Items,View_Items,View_Items,...,View_Items,View_Items,View_Items,home,logout,None,None,None,None,None
5tPgZbHdK2Zp+heFBs8HsMkx,login,View_Items_quantity,Add_to_Cart,View_Items_quantity,Add_to_Cart,View_Items_quantity,Add_to_Cart,View_Items_quantity,Add_to_Cart,View_Items_quantity,...,remove,shoppingcart,remove,shoppingcart,remove,shoppingcart,remove,deferorder,home,logout

## To do: 
We have to choose an encoding method to verctorizing the list of request into an numeric vector.

### Label Encoding

In [29]:
df_t2 = df_t.T
df_t2

   HZKS0-WG8pZr0eCsZlBAP5Xm 5tPgZbHdK2Zp+heFBs8HsMkx
0                     login                    login
1                View_Items      View_Items_quantity
2                View_Items              Add_to_Cart
3                View_Items      View_Items_quantity
4                View_Items              Add_to_Cart
5                View_Items      View_Items_quantity
6                View_Items              Add_to_Cart
7                View_Items      View_Items_quantity
8                View_Items              Add_to_Cart
9                View_Items      View_Items_quantity
10               View_Items              Add_to_Cart
11               View_Items             shoppingcart
12               View_Items                   remove
13               View_Items             shoppingcart
14               View_Items                   remove
15                     home             shoppingcart
16                   logout                   remove
17                     None             shoppingcart
18                     None                   remove
19                     None               deferorder
20                     None                     home
21                     None                   logout

In [33]:
df_t2[['HZKS0-WG8pZr0eCsZlBAP5Xm','5tPgZbHdK2Zp+heFBs8HsMkx']]=df_t2[['HZKS0-WG8pZr0eCsZlBAP5Xm','5tPgZbHdK2Zp+heFBs8HsMkx']].astype('category')

In [35]:
df_t2['HZKS0-WG8pZr0eCsZlBAP5Xm']=df_t2['HZKS0-WG8pZr0eCsZlBAP5Xm'].cat.codes
df_t2['5tPgZbHdK2Zp+heFBs8HsMkx']=df_t2['5tPgZbHdK2Zp+heFBs8HsMkx'].cat.codes

In [36]:
df_t2.head(100)

    HZKS0-WG8pZr0eCsZlBAP5Xm  5tPgZbHdK2Zp+heFBs8HsMkx
0                          3                         4
1                          1                         1
2                          1                         0
3                          1                         1
4                          1                         0
5                          1                         1
6                          1                         0
7                          1                         1
8                          1                         0
9                          1                         1
10                         1                         0
11                         1                         7
12                         1                         6
13                         1                         7
14                         1                         6
15                         2                         7
16                         4                         6
17                         0                         7
18                         0                         6
19                         0                         2
20                         0                         3
21                         0                         5

## DBSCAN
Testing DBSCAN with random data.

In [11]:
X = np.array([[1, 2], [2, 2], [2, 3],
              [8, 7], [8, 8], [25, 80]])
clustering = DBSCAN(eps=3, min_samples=2).fit(X)
clustering.labels_

clustering

DBSCAN(algorithm='auto', eps=3, leaf_size=30, metric='euclidean',
    metric_params=None, min_samples=2, n_jobs=None, p=None)

## To do: 
Choosing a metric for calculating the distances.